.each-slide > div {

    position: relative;
    height: 60vh;
    width: 100%;
    min-height: 250px;
    cursor: pointer;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.each-slide > div:hover {
    
    background-position: center 0%;
    background-size: cover;
}

.each-slide > div:hover::before {
    
    opacity: 0;
}

.each-slide > div::before {
    
    transition: .35s linear opacity;
    opacity: 1; 
    content: '' ;
    position: absolute;
    width: 8vh;
    min-width: 35px;
    min-height: 35px;
    height: 8vh;
    background-image: url("./../compass.svg") ;
    background-size: cover;
    background-color: #273c75;
}

.each-slide > div:hover .label-slide {

    opacity: 0;
}

.label-slide {

    opacity: 1;
    transition: .35s linear opacity;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0, .75 ) ;
    color: #fff;
    padding: 1vh;
    font-size: 2rem;
    text-align: center;
}