footer {

    background: #273c75;
    padding: 4vh;
    color: #fff;
}

footer p {

    margin: 0;
    text-align: center;
    letter-spacing: .16rem;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

footer p a {

    color: #0abde3;
}