.list-products {

    margin: 5vh 0;
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
    min-width: 400px;
    flex-wrap: wrap;
}

.list-products .wrap-btns {

    display: flex;
    justify-content: space-around;
    /* z-index: 50; */
}

.list-products .wrap-btns button {

    z-index: 3;
    cursor: pointer;
    padding: 1vh 2vh;
    border: 0;
    background-color: #273c75;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .18rem;
    border-radius: 8px;
    transition: .3s linear all!important; 
}


.list-products .wrap-btns button:hover {

    background-color: #2c4a9e;
}


.list-products section {

    margin: 3vh 0;
    max-width: 33%;
    min-width: 400px;
}

.list-products section figure:hover::before {

    opacity: 0;
}

.list-products section figure::before {

    content: '';
    position: absolute;

    width: 8vh;
    height: 8vh;
    min-width: 42px;
    min-height: 42px;
    background-image: url("./compass.svg");
    background-size: cover;
    background-color: #273c75; 
    top: 0;
    left: 0;
    opacity: 1;
    transition: .3s linear all;
}

.list-products section figure {

    cursor: pointer;
    position: relative;
    overflow: hidden;

}

.list-products section figure img {
    width: 100%;
    transition: .3s linear all;
}

.list-products section figure img:hover {

    transform: scale( 1.15 );
}


.list-products section img:hover figcaption {

    opacity: 0;
}

.list-products section figure figcaption {

    text-align: center;
    text-transform: uppercase;
    transition: .3s linear all;
    position: relative;
    width: 100%;
    padding-bottom: 1.5vh;
    background: rgba(39, 60, 117,.9);
    color: rgb( 200,200,200 );
    transform: translateY(-50%);
}

@media screen and (max-width: 950px) {

    .list-products {
        justify-content: center;
    }
}